* {
  margin: 0;
  padding: 0;
} 

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  /* text-align: left; */
  background-color: white;
}

.thumbnail {
  position: relative;

 }
 .caption {
  position: absolute;
  background: rgba(251, 213, 185, 0.4);
  top: 30%;
  left: 0;
  width: 40%;
 }

#firstPage {
    background-color:rgba(245, 149, 79, 0.8);
  }

#secondPage {
    display: none;
  }

#thirdPage {
    display: none;
  }

#fourthPage {
    display: none;
  }

#fifthPage {
    display: none;
  }

h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background: white;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
  }

*, ::after, ::before {
    box-sizing: border-box;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.3rem;
    background: #E7CCA4;
  }

.title-movie {
  font-family: 'Stoke', serif;
  font-style: normal;

}

.bold {
  font-weight: bold;

}




