* {
  margin: 0;
  padding: 0;
} 

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  /* text-align: left; */
  background-color:rgba(150, 215, 224, 0.2);
}

 article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.thumbnail {
  position: relative;

 }

 .caption {
  position: absolute;
  font-size: 39px;
  line-height: 58px;
  background: rgba(251, 213, 185, 0.4);
  top: 30%;
  left: 0;
  width: 40%;
  background: no-repeat;
 }

#firstPage {
    background-color:#B5DBDC;
  }

#secondPage {
    display: none;
  }

#thirdPage {
    display: none;
  }

#fourthPage {
    display: none;
  }

#fifthPage {
    display: none;
  }

h3 {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background: white;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
  }

*, ::after, ::before {
    box-sizing: border-box;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.3rem;
    background: #B5DBDC;
    text-align: left;
  
  }

.title-movie {
  font-family: 'Stoke', serif;
  font-style: normal;

}

.bold {
  font-weight: bold;

}

.genre {
  background-color:rgba(51, 51, 51, 0.8);
  color:white;
  margin-right: 5%;
}

.pink {
  background-color:#FFF0B8;
  padding: 2%;
}

.datos {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  margin-right: 5%;
  margin-left: 2%;
}

.instruction {
  text-align:center;
  font-size: 25px;
  color:rgb(16, 16, 110);
}

.selectBox {
margin-left:25%;
margin-top:2%;
margin-bottom:3%;
background-color:rgb(44, 43, 43);
color:white;
}

.allSelect{
background-color: rgb(100, 100, 100);
color:white;
}

.studioTitle{
  background-color: #FFF0B8;
  padding: 1%;
}

.pb-5, .py-5 {
  padding-bottom: none;
}
.pt-5, .py-5 {
  padding-top: none;
}

.selectStudio {
  background-color: #FFF0B8;
}

.iconStudio {
margin: 2%;
}

.iconStudio:hover {
  transform:scale(1.2);
  opacity: initial;
  }

.spacing {
    margin-left:2%;
    margin-right: 2%;
  }
  
.spaceBottom {
    margin-top:2%;
    margin-bottom:2%;
  }
